<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.com.techdepo.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StepsActivity"
            android:label="@string/title_activity_steps"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ng.com.techdepo.bakingapp.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.StepsDetailsActivity"
            android:label="@string/title_activity_steps_details"

            android:theme="@style/AppTheme"/>

        <receiver android:name=".appwidget.BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>

        <service android:name=".appwidget.RecipeStackViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"/>

    </application>

</manifest>